body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    
    margin: 2em;
    .form-border{
        width: 132% !important;
        float: left;
        border: gray solid 0.5px;
        margin-right: 2em;
        padding: 1em;
        border-radius: 5px;
    }
    .list-group{
        width: 70%;
        cursor: pointer;
       
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              span {
                background: pink;
                text-decoration:line-through;
                &:hover {
                   background: seagreen;
                }
              }
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}

.assign{
    font-size: 1.3em;
}
.difficult{
    margin-left: 80%;
}
.complete{
    height: 20px;
    text-align: center;
    margin-right: 5%;
    font-size: 80%;
    font-size: 1em !important;
    line-height: 6px !important;
    border-radius: 12px !important;
}
.closedel{
    width: 11%;
    border: none !important;
}

.filter-bt{
    width: 20%;
    margin-top: 2%;
}

.log{
    position: absolute;
    top: 2.5%;
    right: 16%;
}
.logs{
    position: absolute;
    top: 2.5%;
    right: 10%; 
}

#flex{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    // flex-basis: 100%;
}
#flex :nth-child(2) { 
    order: 1;
    flex-grow: 5;
    // width: 50%;
 }
 #flex :nth-child(0) { 
    flex-grow: 2;
    // width: 50%;
 }
#flex :nth-child(0){
    width: 100%; 
}

